<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TIICHER | Edit Cursos</title>
<link th:href="@{http://localhost:9876/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">TIICHER</a>
	  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
	  <div class="navbar-nav">
	    <div class="nav-item text-nowrap">
	    
	      <form th:action="@{/logout}" method="post">
	          <button type="submit" class="nav-link px-3" style="color:black">Cerrar Sesion</button>
	      </form>
	      
	      
	    </div>
	  </div>
	</header>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						
						<div th:if="${param.error}" class="alert alert-danger mb-3">Credenciales incorrectas</div>
							<form method="POST" class="needs-validation" th:object="${clase}" novalidate="" autocomplete="off" th:action="@{/private/index/edit/clase/update}" role="form">
								<div class="mb-3">
									
									<label class="mb-2 text-muted" for="nombre_curso">Curso de la Clase</label>
					                <select field="*{curso}" name="curso"  class="form-select" >
					                   	<option th:value="${clase.curso.id_curso}"  
					                            th:text="${clase.curso.nombre_curso}">
					                    </option>
					                    <option th:each="curso:${curso}"
					                            th:value="${curso.id_curso}"  
					                            th:text="${curso.nombre_curso}">
					                    </option>
									 </select>
									 <label class="mb-2 text-muted" for="nombre_curso">Nombre Clase</label>
									 <input type="text" th:value="${clase.nombre_clase}" field="*{nombre_clase}" placeholder="Nombre Clase"  name="nombre_clase" id="user" class="form-control" value="" required autofocus>
 									
								</div>
								<div class="mb-3">
									<input type="text" th:value="${clase.id_clase}" field="*{id_clase}" readonly style="width:30%;" name="id_clase" id="user" class="form-control" value="" required autofocus>

								</div>
								<div class="d-flex align-items-center">
							
									<input type="submit" class="btn btn-sm btn-outline-secondary" value="Actualizar"/>
									<a type="button" th:href="@{/private/index/edit/list/clase}" class="btn btn-sm btn-outline-secondary">Cancelar</a>
								</div>
							</form>
						</div>
						
						
						<div th:if="${#lists.isEmpty(curso)}">	
							<p>No hay cursos antes tienes que crear uno</p>
							<a type="button" th:href="@{/private/index}" class="btn btn-sm btn-outline-secondary">Atras</a>
						</div>
					</div>
				</div>
			</div>
	</section>
	
</body>
</html>